@font-face {
	font-family: 'iconfont';
	src: url('iconfont.eot?bilyuv#iefix') format('embedded-opentype'),
	url('iconfont.ttf?bilyuv') format('truetype'),
	url('iconfont.woff?bilyuv') format('woff'),
	url('iconfont.svg?bilyuv#iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'iconfont' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-email-active:before {
	content: "\e092";
	font-size: 51px;
	color: #2cb8ca;
}
.icon-email:before {
	content: "\e091";
	font-size: 31px;
	color: #cdcdcd;
}
.icon-phone-login-active:before {
	content: "\e094";
	font-size: 51px;
	color: #2cb8ca;
}
.icon-phone-login:before {
	content: "\e093";
	font-size: 31px;
	color: #e6a0a1;
}
